{{ define "main" }}
{{ partial "header" . }}

<div class="container">
    <div class="row">
        <div class="col stroke">
            1 of 2
        </div>
        <div class="col">
            2 of 2
        </div>
    </div>
    
</div>

{{ partial "footer" . }}

{{ end }}
